@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root light and dark mode colors using CSS variables */
:root {
  --background: #1e1e2f;
  --foreground: #ffffff;
  --font-geist-sans: 'Inter', sans-serif;
  --font-geist-mono: 'Fira Code', monospace;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

img {
  text-decoration: none !important;
}
[contentEditable=true]:empty:before {
  content: attr(data-placeholder);
  opacity: 0.6;
  cursor: text;
}
